<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>462227984311-cmbe54smr0974vlim8r96s573m84gtu3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAApqKOLBR_JmHhuLJGshuOtcZtcVRQI6M</string>
	<key>GCM_SENDER_ID</key>
	<string>462227984311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.survival.aceee</string>
	<key>PROJECT_ID</key>
	<string>skyblitz-95e1a</string>
	<key>STORAGE_BUCKET</key>
	<string>skyblitz-95e1a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462227984311:ios:a6af5c8269a54033252232</string>
</dict>
</plist>